.logo {
  width: 120px;
  height: 31px;
  float: left;
}

.toolWrap input {
  background-color: hsla(0,0%,100%,.1);
  border: none;
  color: #979ba8;
}
.toolWrap svg {
  color: #999999;
}
.head-example {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border: none
}
.ant-menu-horizontal > .ant-menu-item:hover {
  border: none
}
.ant-menu>li[role='menuitem']:hover {
  border: none
}